{
 :paths ["src"]
 :deps {net.mikera/core.matrix {:mvn/version "0.62.0"}
        org.clojure/clojure    {:mvn/version "1.11.1"}}
 :aliases {:run  {:exec-fn adjacency/-main}
           :repl {:extra-deps { nrepl/nrepl {:mvn/version "0.6.0"}}}}}
